h4{
    margin:0;
    padding:0;
}

*{
font-family: Arial, Helvetica, sans-serif;
}

body{
margin: auto;
background-color:#123;
}

.hero-image {
background-image: url("img/capsule.png");
/*   background-image: url("img/large_background.png"); */
background-color: #cccccc;
min-height: 220px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
text-align: center;
position: absolute;
width: auto;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
text-shadow: 2px 2px #000000;
}

.outer_wrapper_background {
background-image: url("img/large_background.png");
background-color: #cccccc;
min-height: 1000px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

#inner_wrapper{
margin: 0 10% 0% 10%;
padding: 0 0 0 0;
width: auto;
height: auto;
min-height: 900px;
background-color: #000;
background-color: rgba(0,0,0,0.5);
}


#top{
height:100px;
margin: auto;
position:relative;
}


#menu{
width: 1400px;
position: center;
text-align: center;
position:absolute;
bottom: 0;
left: 50%;
transform: translate(-50%, 0%);
display: flex;
justify-content: space-between;
}

#menu a{
font-size:25px;
color:#fff;
text-decoration:none;
position:relative;
text-align: center;
}

#menu a:hover{
color:#606090;
}

#menu ul{
display:block;
list-style-type:none;
background-color:#a8a8a8;
}

#menu li{
display:block;
padding:5px;
margin:10px;
color:#fff;
display:inline;
margin-top:-5px;
float:left;
}

	
#highlight li{
display:inline;
float:left;
opacity:0.5;
}


#content{
color: white;
width:auto;
padding: 50px;
min-height:400px;
font-size: 16pt;
}

#inv{
height:20px;
font-size:8px;
color:white;
text-align:center;
bottom:0;
}

.list_object{
background-color:#000;
height:300px;
}

.list_image{
margin-left: 50px;
margin-top: 50px;
height:200px;
width:200px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
display: inline-block;
float: left; /* OBS */
background-color:#456;
}

.list_content{
margin-left: 50px;
height:250px;
margin-top: 10px;
position:relative;
display: inline-block;
float: left;
width: 1100px;
background-color:#123;
}

.bottom{
position: absolute;
width: 1100px;
bottom: 0;
background-color:#756;
}


















